body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}

.hero__img {
  background-image: url(/assets/img/HERO\ IMG.png);
  width: 100%;
  height: 800px;
  background-size: cover;
}
.hero__img nav {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  color: #FFFFFF;
}
.hero__img nav .navbar {
  display: flex;
  gap: 30px;
}
.hero__img nav .navbar a {
  text-decoration: none;
  color: #FFFFFF;
}
.hero__img nav .navbar__korzinak {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.hero__img nav .navbar__call {
  margin-top: -30px;
}
.hero__img nav .navbar__call__logo {
  display: flex;
  gap: 10px;
}
.hero__img nav .zakaz__stol button {
  background-color: #D67E35;
  border: none;
  color: #FFFFFF;
  width: 137px;
  height: 47px;
}
.hero__img .dobros {
  margin-left: 180px;
  color: #D67E35;
}
.hero__img .dobros .dobros__dorbo p {
  font-size: 50px;
}
.hero__img .dobros .dobros__nash {
  font-size: 80px;
  margin: 0;
}
.hero__img .dobros .dobros__dom {
  display: flex;
  gap: 10px;
  color: #FFFFFF;
}
.hero__img .dobros .dobros__dom p {
  font-size: 16px;
}
.hero__img .dobros .view {
  margin-left: 70px;
}
.hero__img .dobros .view button {
  background-color: #D67E35;
  border: none;
  color: #FFFFFF;
  width: 137px;
  height: 47px;
}

.cards__nash {
  background-color: #D67E35;
  width: 349px;
  height: 328px;
  text-align: center;
}

.hasha__istoryas {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.hasha__istoryas .hasha__istoryas__istorya {
  text-align: center;
}
.hasha__istoryas .hasha__istoryas__istorya .hasha__istoryas__istorya1 {
  font-size: 54px;
  font-family: Tinos, sans-serif;
}
.hasha__istoryas .hasha__istoryas__istorya .hasha__istoryas__istorya1 span {
  color: #D67E35;
}
.hasha__istoryas .hasha__istoryas__statik {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
}

.otprazs {
  background-image: url(/assets/img/bg\ sec3.png);
  width: 100%;
  height: 357px;
  display: flex;
  justify-content: space-around;
  margin-top: 90px;
  align-items: center;
}
.otprazs .otprazs__odnom {
  font-size: 52px;
  color: #D67E35;
}
.otprazs .otprazs__tolka {
  color: #FFFFFF;
  font-size: 24px;
  font-family: Open Sans, sans-serif;
}
.otprazs .otprazs__bt {
  align-items: center;
  display: flex;
}
.otprazs .otprazs__bt .otprazs__zakaz {
  background-color: #D67E35;
  border: none;
  color: #FFFFFF;
  width: 157px;
  height: 47px;
}

.nashe {
  margin-bottom: 50px;
}
.nashe .nashe__h1 {
  display: flex;
  justify-content: center;
  font-size: 54px;
}
.nashe .nashe__h1 span {
  color: #D67E35;
}
.nashe .nashe__nashes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.nashe .nashe__nashes__card {
  display: flex;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.nashe .nashe__nashes__card p {
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 26px;
}

.nasheprovo {
  margin-bottom: 100px;
}
.nasheprovo .nashe__h1 {
  display: flex;
  justify-content: center;
  font-size: 54px;
}
.nasheprovo .nashe__h1 span {
  color: #D67E35;
}
.nasheprovo .nasheprovo__flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.nakaloys div {
  text-align: center;
  font-family: Open Sans, sans-serif;
}

.galeblod .nashe__h1 {
  display: flex;
  justify-content: center;
  font-size: 54px;
}
.galeblod .nashe__h1 span {
  color: #D67E35;
}
.galeblod .galeriys {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.galeblod .galeriys .galeriy .galeriy__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 33px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.footer img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .hero__img nav {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */